* {
  box-sizing: border-box;
}
nav {
  padding: 5%;
  ul {
    li {
      display: inline;
      .navbar_link {
        text-decoration: none;
        color: black;
        font-size: .8em;
        margin-right: 7%;
        &:hover {
          opacity: 0.5;
        }
      }
      .navbar_link--active {
        opacity: 0.5;
      }
    }
  }
}

@media only screen and (min-width: 1020px) {
  nav {
    padding: 5% 20%;
    ul {
      li {
        .navbar_link {
          font-size: 1.3em;
          line-height: 1.4em;
        }
      }
    }
  }
}